src/main/resources/address.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="address">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:long" />
              <xs:element name="address" type="xs:string" />
              <xs:element name="postal_code" type="xs:string" />
              <xs:element name="city_id" type="xs:long" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>