src/main/resources/employee.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="employees">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="employee">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedByte" />
              <xs:element name="first_name" type="xs:string" />
              <xs:element name="last_name" type="xs:string" />
              <xs:element name="hire_date" type="xs:date" />
              <xs:element name="phone_number" type="xs:unsignedLong" />
              <xs:element name="address_id" type="xs:unsignedByte" />
              <xs:element name="project_id" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>