src/main/resources/employee.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="employees">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="employee">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:long" />
              <xs:element name="firstName" type="xs:string" />
              <xs:element name="lastName" type="xs:string" />
              <xs:element name="hireDate" type="xs:date" />
              <xs:element name="phoneNumber" type="xs:string" />
              <xs:element name="address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:long" />
                    <xs:element name="address" type="xs:string" />
                    <xs:element name="postalCode" type="xs:string" />
                    <xs:element name="city">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="id" type="xs:long" />
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="country">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="id" type="xs:long" />
                                <xs:element name="name" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="project">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:long" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="description" type="xs:string" />
                    <xs:element name="cost" type="xs:integer" />
                    <xs:element name="client">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="id" type="xs:long" />
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="phoneNumber" type="xs:string" />
                          <xs:element name="address">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="id" type="xs:long" />
                                <xs:element name="address" type="xs:string" />
                                <xs:element name="postalCode" type="xs:string" />
                                <xs:element name="city">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="id" type="xs:long" />
                                      <xs:element name="name" type="xs:string" />
                                      <xs:element name="country">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="id" type="xs:long" />
                                            <xs:element name="name" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="id" type="xs:long" />
                          <xs:element name="address" type="xs:string" />
                          <xs:element name="postalCode" type="xs:string" />
                          <xs:element name="city">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="id" type="xs:long" />
                                <xs:element name="name" type="xs:string" />
                                <xs:element name="country">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="id" type="xs:long" />
                                      <xs:element name="name" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>